/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --color-title: #ffc2e6;
  --accent-color: #353430;
  --bg-color-text: #ff0070;
  --color-main-title: #353430;
  --color-main-subtitle: #353430;
  --color-text: #353430;
  --color-button-hover: rgb(50, 49, 45, 0.4);
  --title-decor: #FF8DCB;
  --border-color: #353430;
}

.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --color-title: #ffc2e6;
    --accent-color: #353430;
    --bg-color-text: #ff0070;
    --color-main-title: #353430;
    --color-main-subtitle: #353430;
    --color-text: #353430;
    --color-button-hover: rgb(50, 49, 45, 0.4);
    --title-decor: #FF8DCB;
    --border-color:#353430;
  }

  .rec {
    display: none;
  }
}
